<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Pactice</title>
</head>
<body>
    <h1>This is Django Database Table </h1>
    
    {% if student %}
    <h1>Show Data</h1>
    <h3>{{ student }}</h3>
    {% else %}
    <h1>No Data</h1>
    {% endif %}
    <form action="" method="POST">
        {% csrf_token %}
        {{forms.as_p}}
        <input type="submit">
    </form>
</body>
</html>