<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registraion</title>
</head>
<body>
    <form action="" method="POST" > 
        {%csrf_token%}
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'signup' %}">Sign Up</a>
        <a href="{% url 'changepass' %}">Password Change</a>
        {% for i in form %}

        {{ i.label_tag}} {{i}} {{i.errors|striptags}}

        {% endfor %}
        <input type="submit" value="Submit">
    </form>
</body>
</html>